* {
    transition: color 0.1s ease-in;
}

p {
    font-size: 20px;
}

a {
    text-decoration: none;
}

.theme--light.v-application {
    background: #eee !important;
}

#short-bio a {
    color: white;
}



.w50 {
    width: 50%;
    margin: 0 auto;
}
.w70 {
    width: 70%;
    margin: 0 auto;
}
.w100 {
    width: 100%;
    margin: 0 auto;
}

.h100 {
    height: 100%;
}